* {
    padding: 0;
    margin: 0;
}

.container {
    display: flexbox;
    align-items: center;
    width: 1025px;
    height: 825px;
    margin: 0 auto;
}

.main-heading {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: beige;
}


.main-heading ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-heading ul li {
    display: inline;
    align-items: center;
}

.subheading ul {
    display: flex;
    justify-content: space-evenly ;
    list-style: none;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin-bottom: 10px;
    margin-top: 10px;
}

.text-paragraphs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
}


.links {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.bottom-nav {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.social {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-left: 45px;
    margin-right: 45px;
}

.subcontainer {
    display: inline-block;
    margin-left: 10px;
}

.borderh1 {
    border: 2px solid black;
    margin-left: 30px;
    margin-right: 30px;
}

.main-image {
    border: 2px solid black;
    height: 190px;
    margin-left: 30px;
    margin-right: 30px;
}

.applogo {
    border: 2px solid black;
}

button {
    border: 3px solid black;
    padding: 5px;
    width: 105px;
    background-color: white;
}

.signin {
    
}
